<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="endpoint" value="http://localhost:50051/SimpleService.svc/soap" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISimpleService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SimpleStorage/SimpleService.svc/soap"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISimpleService"
          contract="SimpleStorage.ISimpleService" name="BasicHttpBinding_ISimpleService" />
    </client>
  </system.serviceModel>
</configuration>